<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View.js</title>
    <script src="https://unpkg.com/vue"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <link rel="stylesheet" href="css/fw.css">
</head>
<body ng-app>
<div class="column">
    <h1>VUE.js</h1>
    <div id="vuejs">
        <input type="text" v-model="newTodo"><span v-on:click="addItem" title="+"><img :src="plusImg"></span>
        <ul>
            <li v-for="todos in todo">{{todos.name}}</li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
</div>
<div class="column" ng-controller="ngAppExampleController">
    <h1>angular.js</h1>
    <div id="ngAppExample">
        <form>
            <input type="text" ng-model="data.newTodo" ng-model="data.newTodo" ng-model-instant/><span
                ng-click="addItem()" title="+"><img src="{{data.plusImg}}"></span>
        </form>
        <ul>
            <li ng-repeat="todos in data.todo">{{todos.name}}</li>
        </ul>
    </div>
    <script src="js/angular.js"></script>
</div>
<div class="column">
    <h1>React</h1>
    <div id="container">
    </div>
    <script type="text/babel">
        var TodoList = React.createClass({
            render: function() {
                return (
                        <div className="todoListMain">
                            <div className="header">
                                <form>
                                    <input placeholder="enter task">
                                    </input>
                                    <button onClick="addItemReact()">add</button>
                                </form>
                            </div>
                        </div>
                );
            }
        });

        var destination = document.querySelector("#container");
        ReactDOM.render(
                <div>
                    <TodoList/>
                </div>,
            destination
        );
    </script>
    <script src="js/react.js"></script>
</div>
</body>